.feature-item {
  /* For position */
  position: relative;
  padding-bottom: 2.5rem;
  @mixin atSmall {
    /* Give a left padding to creat space for child icon element */
    padding-left: 94px;
  }
  &__icon {
    /* To center the icon horizontally with display and margin */
    display: block;
    margin: 0 auto;
    @mixin atSmall {
      /* To position icon to the left with padding-left of parent element => position: absolute and left: 0*/
      position: absolute;
      left: 0;
    }
  }
  &__title {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: .8rem;
    margin-top: .7em;
    text-align: center;
    @mixin atSmall {
      margin-top: 1em;
      font-size: 1.875rem;
      text-align: left;
    }
  }
}