.page-section {
    /* For padding top and bottom for each sectoin */
    padding: 1.2rem 0;
    @mixin atMedium {
        padding: 4.5rem 0;
    }
    &--blue {
        background-color: $mainBlue;
        color: #fff;
    }
    &--testimonials {
        background-color: #e0e6ef;
        @mixin atLarge {
            /* url just relative to the  directory without slash / if it is to work in many hosting env. */
            background: url('assets/images/testimonials-bg.jpg') top center no-repeat;
            /* To stretch the image to cover the containing div */
            background-size: cover;
        }
    }
    &--no-b-padding-until-medium {
        padding-bottom: 0;
        @mixin atMedium {
            padding-bottom: 4.5rem;
        }
    }
    &--no-b-padding-until-large {
        padding-bottom: 0;
        @mixin atLarge {
            padding-bottom: 4.5rem;
        }
    }
}