.primary-nav {
  /* For spacing top between the button Get in Touch and the Menu */
  padding-top: 10px;
  @mixin atMedium {
    /* To compensate the padding-top  */
    padding-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }
  li {
    list-style-type: none;
    /* To make sure list can fit on the same line */
    padding-right: 7px;
    /* For mobile display inline block */
    display: inline-block;
    /* Only for not mobile, float left*/
    @mixin atMedium {
      float: left;
      /* To compensate  the inline-block and for floating left */
      display: block;
      padding-right: 20px;
    }
  }
  /* For the last li, no padding right */
  li:last-child {
    padding-right: 0;
    @mixin atMedium {
      padding-right: 20px;
    }
  }
  a {
    color: #ffffff;
    text-decoration: none;
    font-size: .8rem;
    background-color: rgba($mainBlue, .5);
    padding: 5px 8px;
    /* To make it padding: 12px 0 available use display: block */
    display: block;
    @mixin atMedium {
      padding: 12px 0;
      font-size: 1rem;
      /* To compensate the background color rgba($mainBlue, .5) */
      background-color: transparent;
      /* For StickyHeader.js */
      &.is-current-link {
        color: #fabb69;
      }
    }
  }
  &--pull-right {
    /* Float for not mobiel screen or display normal for mobile screen */
    @mixin atMedium {
      float: right;
    }
  }
}