.primary-nav {
  padding-top: 10px;
  @mixin atMedium {
    padding-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }
  li {
    list-style-type: none;
    padding-right: 7px;
    display: inline-block;
    @mixin atMedium {
      float: left;
      display: block;
      padding-right: 20px;
    }
  }
  li:last-child {
    padding-right: 0;
    @mixin atMedium {
      padding-right: 20px;
    }
  }
  a {
    padding: 5px 8px;
    color: #ffffff;
    text-decoration: none;
    font-size: .8rem;
    background-color: rgba($mainBlue, .5);
    /* To make it padding: 12px 0 available use display: block */
    display: block;
    @mixin atMedium {
      padding: 12px 0;
      font-size: 1rem;
      background-color: transparent;
    }
  }
  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }
}